<h1>Edit Article</h1>

<%# 確認是否有error %>
<% if @article.errors.any? %>
    <p> Can't save article with following errors </p>
    <ul>
        <% @article.errors.full_messages.each do |mes| %>
            <li><%= mes %></li>
        <% end %>
    </ul>
    
<% end %>



<%# @article = Article.new in articles_controller.rb %>
<%= form_with model: @article, local: true, data: { turbo: false } do |form| %> 
    <p>
        <%= form.label :title %> <br/>
        <%= form.text_field :title %> 
    </p>
    <p>
        <%= form.label :descriptions %> <br/>
        <%= form.text_area :descriptions %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>