
<%= render 'shared/errors' , obj: @user%>


<%# @article = Article.new in articles_controller.rb %>
<%= form_with model: @user, local: true, data: { turbo: false } do |form| %> 
    
    <form> 
        <div class="container mb-3  bg-secondary justify-content-center rounded p-5 shadow">
            <div class="mb-3 d-flex flex-row">
                <div class="form-label-article">
                    <%= form.label :name, class: "form-label" %> 
                </div>
                <%= form.text_field :name, class: "flex-grow-1 shadow form-control" , placeholder: "Enter user name" %> 
                
            </div>
            <div class="mb-3 d-flex flex-row">
                <div class="form-label-article">
                    <%= form.label :email, class: "form-label" %> 
                </div>
                <%= form.email_field :email, class: "flex-grow-1 shadow form-control", placeholder: "Enter email adress"%>
            </div>

            <div class="mb-3 d-flex flex-row">
                <div class="form-label-article">
                    <%= form.label :password, class: "form-label" %> 
                </div>
                <%= form.password_field :password, class: "flex-grow-1 shadow form-control", placeholder: "Set password"%>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div>
                    <%= form.submit(@user.new_record?  ? "Sign Up": "Update", class: "btn btn-primary mx-auto ") %>
                </div>
                <div>
                    <%= link_to "Cancel", users_path, class: "btn btn-outline-white mx-auto" %>
                </div>
            </div>
        </div>
    </form > 

<% end %>
