<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# d-flex使用flex顯示，flex-column代表主軸方向為y軸 %>
  <body class="d-flex flex-column min-vh-100">
    
    <%# header navbar %>
    <%= render "layouts/navigation" %>

    

    <%# Main File %>
    <div id="page-content" class="flex-grow-1">
      <%# Messages %>
      <%= render "layouts/messages" %>

      <%= yield %>
    </div>


    <%= render "layouts/footer" %>
    


  </body>
</html>
