<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# d-flex使用flex顯示，flex-column代表主軸方向為y軸 %>
  <body class="d-flex flex-column min-vh-100">
    
    <%# header navbar %>
    <%= render "layouts/navigation" %>

    <%# Messages %>
    <%= render "layouts/messages" %>

    <%# Main File %>
    <div id="page-content" class="flex-grow-1">
      <%= yield %>
    </div>

    <div id="sticky-footer">
    <%# Footer %>
      <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
          <span class="text-muted">Demo for Udemy The Complete Ruby on Rails Developer Course by Tiffany</span>
        </div>
      </footer>
    </div>


  </body>
</html>
